{% extends 'base.html' %}
{% block title %} Add Blog Post {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Add Blog Post {% endblock %}</title>

    <!-- Optional: Link to your custom CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        {% if user.is_authenticated %}
            <h1> Add Blog Post </h1>
            </br> </br> </br>

            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Post</button>
                </form>
            </div>

            <script>
                var name = "{{ user.id }}";
                document.getElementById("elder").value = name;
            </script>

        {% else %}
            <p>You are Not allowed here!</p>
        {% endif %}
    </div>

</body>
</html>

{% endblock %}
